---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/Logo.astro";

const { slug = "" } = Astro.params;

const entry = await getEntry("posts", slug);

if (!slug || !entry) {
  return Astro.redirect("/posts/", 301);
}

const currentUrlWithoutParams = Astro.url.origin + Astro.url.pathname;
const ogImageUrl =
  "https://mugshotbot.com/m?color=teal&hide_watermark=true&mode=light&pattern=none&url=" +
  currentUrlWithoutParams;

const { Content } = await entry.render();

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=3600, stale-while-revalidate",
);
---

<Layout
  ogImageUrl={ogImageUrl}
  title={entry.data.title}
  description={entry.data.description}
  bodyClasses="overflow-x-hidden bg-slate-100"
>
  <div
    x-ref="mainContent"
    id="main"
    class="relative overflow-x-hidden transition-[width] max-w-[65ch] max-h-screen overflow-y-auto container pb-12 p-6 flex flex-col justify-start gap-4 items-center"
  >
    <header class="!px-0 container mx-auto flex justify-between gap-2">
      <Logo />
      <div class="flex justify-center flex-wrap gap-3">
        <a
          href="/add/tool"
          target="_blank"
          class="max-sm:w-fit btn btn-neutral text-white btn-sm"
          >Add App or Tool</a
        >
        <a
          href="https://twitter.com/i/communities/1773059527652393233"
          target="_blank"
          class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >Join Community on X</a
        >
      </div>
    </header>

    <article class="w-full prose unset-max-width">
      <div class="text-sm breadcrumbs m-0">
        <ul class="!p-0 !m-0">
          <li><a href="/">Home</a></li>
          <li><a href="/posts/">Posts</a></li>
          <li>Post</li>
        </ul>
      </div>

      <h1>{entry.data.title}</h1>

      <p class="mt-2 text-slate-500">Written by {entry.data.author}</p>

      <div class="divider" role="separator"></div>

      <Content />
    </article>
  </div>
</Layout>
