---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/Logo.astro";

const pageTitle = "faith.tools Blog Posts";
const description =
  "Writing about the best tools Christians and the faithful people who create them.";
const currentUrlWithoutParams = Astro.url.origin + Astro.url.pathname;
const ogImageUrl =
  "https://mugshotbot.com/m?color=teal&hide_watermark=true&mode=light&pattern=none&url=" +
  currentUrlWithoutParams;

const allPosts = await getCollection("posts");

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=3600, stale-while-revalidate",
);
---

<Layout
  bodyClasses="overflow-x-hidden bg-slate-100"
  title={pageTitle}
  description={description}
  ogImageUrl={ogImageUrl}
>
  <div
    x-ref="mainContent"
    id="main"
    class="relative overflow-x-hidden transition-[width] max-h-screen overflow-y-auto container max-w-[65ch] pb-12 p-6 flex flex-col justify-start gap-4 items-center"
  >
    <header class="!px-0 container mx-auto flex justify-between gap-2">
      <Logo />
      <div class="flex justify-center flex-wrap gap-3">
        <a
          href="/add/tool"
          target="_blank"
          class="max-sm:w-fit btn btn-neutral text-white btn-sm"
          >Add App or Tool</a
        >
        <a
          href="https://faithly.co/invite/cameronpak?groupSlug=faith.tools---digital-creatives"
          target="_blank"
          class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >Join Community</a
        >
      </div>
    </header>

    <main class="w-full prose unset-max-width">
      <div class="text-sm breadcrumbs">
        <ul class="!p-0 !m-0">
          <li><a href="/" title="Go to the home page">Home</a></li>
          <li>Posts</li>
        </ul>
      </div>

      <h1>Posts</h1>

      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</Layout>
