---
import ToolCard from "../components/ToolCard.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import AddAToolCard from "../components/AddAToolCard.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { getListOfTools, getListOfTags } from "../api/baserow";

const { category } = Astro.params;
const tags = await getListOfTags();

const tagsAsStringArray = tags.map((tag) => tag.value);
// I need to now get the category from the URL and add spaces back to it.
// Beforehand, I swapped spaces with dashes for better URL readability.
const categoryWithSpaces = category?.replaceAll("-", " ");

if (!categoryWithSpaces || !tagsAsStringArray.includes(categoryWithSpaces)) {
  return Astro.redirect("/");
}

const tools = await getListOfTools("", categoryWithSpaces);

const title = `faith.tools - The best ${categoryWithSpaces} digital services and apps for Christians`;
const description = `A curated list of the best ${categoryWithSpaces} digital services and apps for Christians and the faithful people who create them.`;

const randomizeTools = tools.results.sort(() => Math.random() - 0.5);

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=3600, stale-while-revalidate",
);
---

<Layout title={title} description={description} bodyClasses="bg-slate-100">
  <div class="max-h-screen grid grid-cols-[256px_1fr] max-sm:grid-cols-1">
    <Sidebar tags={tags} selectedCategoryTag={categoryWithSpaces} />

    <main
      id="main"
      class="max-h-screen overflow-y-auto container py-12 p-6 flex flex-col justify-start gap-4 items-center"
    >
      <Logo size={128} includeText={false} />

      <p class="flex items-center gap-2 text-4xl font-bold max-sm:flex-col">
        faith.tools
      </p>

      <div class="flex flex-col gap-2 max-w-[65ch] items-center">
        <p class="balanced m-0 text-center w-full text-slate-800">
          The best digital services and apps for Christians and the faithful
          people who create them.
        </p>

        <p class="balanced m-0 text-xs text-center w-full text-slate-600">
          New tools are added daily and displayed in random order.
        </p>
      </div>

      <section class="flex flex-col items-center gap-8 mt-4">
        <div class="flex justify-center flex-wrap gap-3">
          <a
            href="/add/tool"
            target="_blank"
            class="max-sm:w-full btn btn-neutral text-white btn-sm"
            >Recommend a Tool</a
          >
          <a
            href="/add/creator"
            target="_blank"
            class="max-sm:w-full btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
            >Recommend a Creator</a
          >
          <button
            x-data={`{
              openRandomToolInNewTab() {
                const toolsSectionEl = document.getElementById('search-results');
                const allToolEls = Array.from(toolsSectionEl.querySelectorAll('a'));
                const randomToolEl = allToolEls[Math.floor(Math.random() * allToolEls.length)];
                window.open(randomToolEl.href, '_blank');
              }
            }`}
            type="button"
            x-on:click="openRandomToolInNewTab()"
            class="max-sm:w-full btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >
            Suprise Me
          </button>
        </div>
        <input
          name="search"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#search-results"
          hx-get="/api/htmx-partials/ListOfTools"
          type="text"
          placeholder="Search a tool..."
          class="bg-inherit input input-bordered input-md w-full max-w-md"
        />
      </section>

      <div class="w-full mt-6">
        <a
          href="/"
          class="btn bg-slate-200 hover:bg-slate-300 border-none btn-xs pr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width={16}
            height={16}
            viewBox="0 0 16 16"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0"
              clip-rule="evenodd"></path>
          </svg>
          View All
        </a>
        <h1 class="text-2xl font-bold text-slate-800 mt-2">
          Top Christian {categoryWithSpaces} Apps and Tools
        </h1>
      </div>

      <ul
        class="container px-0 max-sm:grid-cols-1 sm:grid-cols-2 grid lg:grid-cols-3 gap-4 mt-2"
        id="search-results"
      >
        {
          randomizeTools.map((tool) => (
            <ToolCard
              name={tool["Name"]}
              shortDescription={tool["Short Description"]}
              iconUrl={
                tool["Image"]?.[0]?.url || "https://placeholder.com/48x48"
              }
              website={tool["Website"]}
              tags={tool["Tags"]}
            />
          ))
        }
        <AddAToolCard tagCategory={categoryWithSpaces} />
      </ul>
      <Footer />
    </main>
  </div>
</Layout>
