---
import ToolCard from "../components/ToolCard.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import AddAToolCard from "../components/AddAToolCard.astro";
import ShareCurrentLinkButton from "../components/ShareCurrentLinkButton.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { getListOfTools, getListOfTags } from "../api/baserow";

const { category } = Astro.params;
const tags = await getListOfTags();

const tagsAsStringArray = tags.map((tag) => tag.value);
// I need to now get the category from the URL and add spaces back to it.
// Beforehand, I swapped spaces with dashes for better URL readability.
const categoryWithSpaces = category?.replaceAll("-", " ");

if (!categoryWithSpaces || !tagsAsStringArray.includes(categoryWithSpaces)) {
  return Astro.redirect("/");
}

const tools = await getListOfTools("", categoryWithSpaces);

let title = `Best ${categoryWithSpaces} Apps and Tools for Christians`;
if (categoryWithSpaces.toLowerCase().includes('for')) {
  title = `Best Christian Apps and Tools for ${categoryWithSpaces.split(/for/i)[1]}`;
}
const description = 'Curated by faith.tools';

const ogImageUrl = `https://mugshotbot.com/m?color=teal&hide_watermark=true&mode=light&pattern=none&url=https://faith.tools/${category}`;

const randomizeTools = tools.results.sort(() => Math.random() - 0.5);

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=3600, stale-while-revalidate",
);
---

<Layout
  ogImageUrl={ogImageUrl}
  title={title}
  description={description}
  bodyClasses="overflow-x-hidden bg-slate-100"
>
  <div
    x-data={`{
      isSidePanelOpen: true,
      get isMobile() {
        return Boolean(window.innerWidth <= 768);
      },
      resetSidePanel() {
        this.isSidePanelOpen = !this.isMobile;
      },
      search: "",
      init() {
        this.resetSidePanel();

        $watch('isSidePanelOpen', () => {
          if (!isMobile) {
            return;
          }

          if (this.isSidePanelOpen) {
            $refs.mainContent.classList.add('!overflow-hidden');
          } else {
            $refs.mainContent.classList.remove('!overflow-hidden');
          }
        })
      }
    }`}
    x-on:window.resize.debounce="resetSidePanel()"
    class="max-h-screen flex"
  >
    <Sidebar tags={tags} selectedCategoryTag={categoryWithSpaces} />

    <main
      x-ref="mainContent"
      id="main"
      class="relative overflow-x-hidden transition-[width] max-h-screen overflow-y-auto container pb-12 p-6 flex flex-col justify-start gap-4 items-center"
    >
      <header
        class="ml-8 w-[calc(100%-32px)] !px-0 container mx-auto flex justify-between gap-2"
      >
        <Logo />
        <div class="flex justify-center flex-wrap gap-3">
          <a
            href="/add/tool"
            target="_blank"
            class="max-sm:w-fit btn btn-neutral text-white btn-sm">Add App or Tool</a
          >
          <a
            href="https://faithly.co/invite/cameronpak?groupSlug=faith.tools---digital-creatives"
            target="_blank"
            class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
            >Join Community</a
          >
          <button
            x-data={`{
              openRandomToolInNewTab() {
                const toolsSectionEl = document.getElementById('search-results');
                const allToolEls = Array.from(toolsSectionEl.querySelectorAll('a'));
                const randomToolEl = allToolEls[Math.floor(Math.random() * allToolEls.length)];
                window.open(randomToolEl.href, '_blank');
              }
            }`}
            type="button"
            x-on:click="openRandomToolInNewTab()"
            class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >
            Suprise Me
          </button>
        </div>
      </header>

      {/* Backdrop */}
      <div
        x-show="isSidePanelOpen"
        x-cloak
        @click="isSidePanelOpen ? isSidePanelOpen = false : null"
        class="sm:hidden absolute top-0 left-0 bottom-0 right-0 w-screen h-screen bg-black/50"
      >
      </div>

      <button
        title="Toggle category sidebar"
        x-on:click="isSidePanelOpen = !isSidePanelOpen"
        class="absolute top-6.5 left-4 btn btn-circle btn-sm border-none bg-inherit text-slate-600 hover:bg-slate-200 hover:border-inherit hover:text-slate-800 border-slate-300"
        x-bind:class="{ 'max-sm:left-[calc(256px+1rem)] max-sm:bg-white': isSidePanelOpen }"
      >
        <svg
          class="transition-transform duration-300"
          x-bind:class="{ '-rotate-180': !isSidePanelOpen }"
          xmlns="http://www.w3.org/2000/svg"
          width={20}
          height={20}
          viewBox="0 0 16 16"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M10.53 2.97a.75.75 0 0 1 0 1.06L6.56 8l3.97 3.97a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <div class="w-full mt-6">
        <a
          href="/"
          class="btn bg-slate-200 hover:bg-slate-300 border-none btn-sm pr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width={16}
            height={16}
            viewBox="0 0 16 16"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0"
              clip-rule="evenodd"></path>
          </svg>
          View All
        </a>

        <div class="flex gap-3 items-center mt-2">
          <h1
            class="balanced text-2xl font-bold text-slate-800"
            x-text={`search ? '"' + search + '" Apps and Tools' : '${title}'`}
          >
            {title}
          </h1>
          <ShareCurrentLinkButton size="sm" />
        </div>

        <input
          x-model="search"
          name="search"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#search-results"
          hx-get="/api/htmx-partials/ListOfTools"
          type="text"
          placeholder="Search all tools..."
          class="mt-4 bg-inherit input input-bordered input-md w-full max-w-sm"
        />
      </div>

      <ul
        class="container px-0 max-sm:grid-cols-1 sm:grid-cols-2 grid lg:grid-cols-3 gap-4 mt-2"
        id="search-results"
      >
        {
          randomizeTools.map((tool) => (
            <ToolCard
              name={tool["Name"]}
              shortDescription={tool["Short Description"]}
              iconUrl={
                tool["Image"]?.[0]?.url || "https://placeholder.com/48x48"
              }
              appId={tool["id"]}
              website={tool["Website"]}
              tags={tool["Tags"]}
            />
          ))
        }
        <AddAToolCard tagCategory={categoryWithSpaces} />
      </ul>
      <Footer />
    </main>
  </div>
</Layout>
