---
interface Props {
  name: string;
  shortDescription: string;
  iconUrl: string;
  website: string;
  appId: string | number;
  tags: {
    value: string;
    id: string | number;
  }[];
}

const { name, shortDescription, iconUrl, website, tags, appId } = Astro.props;
---

<li>
  <a
    class="flex w-full h-full flex-col items-start gap-3 justify-start bg-white p-4 rounded-xl hover:shadow-md transition-all duration-150 underline-none"
    target="_blank"
    href={`/app/${appId}` + "-" + name.replaceAll(" ", "-").toLocaleLowerCase()}
    title={`Learn more about ${name} on ${website}`}
  >
    <div class="flex gap-3 items-center">
      <img
        class="rounded-xl m-0 bg-white h-12 w-12 object-cover shadow"
        src={iconUrl}
        alt={name}
        width={48}
        height={48}
        loading="lazy"
      />
      <h2 class="text-base line-clamp-2 leading-tight font-semibold balanced">
        {name}
      </h2>
    </div>
    <p class="m-0 line-clamp-3 text-xs text-slate-500">{shortDescription}</p>
    <div class="flex flex-wrap gap-2">
      {
        tags?.map((tag) => (
          <span class="badge badge-outline h-6 badge-sm border-slate-200 text-slate-600">
            {tag.value}
          </span>
        ))
      }
    </div>
  </a>
</li>
