---
interface Props {
  name: string;
  shortDescription: string;
  iconUrl: string;
  website: string;
}

const { name, shortDescription, iconUrl, website } = Astro.props;
---

<section>
  <a
    class="flex w-full h-full flex-col items-start gap-3 justify-start bg-white p-4 rounded-xl hover:shadow-md transition-all duration-150 underline-none"
    target="_blank"
    href={website}
  >
    <div class="flex gap-3 items-center">
      <img
        class="rounded-xl m-0 bg-white h-12 w-12 object-cover shadow"
        src={iconUrl}
        alt={name}
        width={48}
        height={48}
        loading="lazy"
      />
      <h3 class="text-base line-clamp-2 leading-tight font-semibold balanced">
        {name}
      </h3>
    </div>
    <p class="m-0 line-clamp-2 text-xs text-slate-500">{shortDescription}</p>
  </a>
</section>
